//@theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
//@theme "/home/joekamprad/.local/share/rofi/themes/deep-purple.rasi"
@theme "/home/joekamprad/.local/share/rofi/themes/deep-purple.rasi"
